.hero {
  width: 100%;
}

.hero-container {
  max-width: 80%;
  padding: 35px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// button {
//   background-color: #f55522;
//   color: white;
//   padding: 4px;
//   width: 6vw;
//   border-radius: 4px;
// }
