//colors
$primary-color: #041a02;
$secondary-color: #f55522;
//text & heading
$text-color: #000000;

//background color
$bg-color: #f4f1d0;
$bg-dark: #132107;
//button color
$btn-color: #71c86c;
$button: white;
$bg-color: #27ac1f;
$bg-color: #e0eecf;
$bg-color: #ffffff;
$bg-color: #e9f4ca;
$bg-color: #f4f1d0;
